{% extends './templates_front/baseFront.html.twig' %}

{% block title %}New Journal{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center mb-4">Ajouter à mon Journal</h3>
            {{ include('journal/_form.html.twig') }}

            <a href="{{ path('app_journal_index') }}" class="btn btn-secondary">Back to list</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    // Ensure jQuery is loaded
    if (typeof jQuery == 'undefined') {
        console.error('jQuery is not loaded!');
    } else {
        console.log('jQuery is loaded!');
    }

    // Initialize Bootstrap Datepicker
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true, // Close the datepicker when a date is selected
        todayHighlight: true // Highlight today's date
    });
</script>
{% endblock %}
