
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by CODE_RED <a href="#" target="_blank">elyess</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->