{% extends 'templates_front/baseFront.html.twig' %}

{% block styles %}
<style>
    body {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 28px;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        color: #666;
        text-align: center;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h4>Calories Result</h4>
    <p>Your daily caloric needs are: {{ calories }} calories.</p>
</div>
{% endblock %}
