{% extends 'base.html.twig'%}

{% block title %}New Suivi Activite{% endblock %}

{% block body %}
<style>
    .centered-div {
        width: 50%; /* Set the width of the div */
        margin: 0 auto; /* Set the top and bottom margin to 0, and the left and right margin to auto */
    }
</style>
<div class="centered-div">
    <h1>Create new SuiviActivité</h1>

    {{ include('suivi_activite/_form.html.twig') }}

    <a href="{{ path('app_suivi_activit__index') }}">back to list</a>
</div>
{% endblock %}
